[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
marshmallow = "*"
requests-oauthlib = "*"
python-dotenv = "*"
authlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
